<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your RONE_ID from Team Ronecard</title>
  </head>
  <body>
    <h4>Dear User,</h4>
    <p>Welcome to the Rone family.</p>
    <p>
      As part of the onboarding process you are provided with the unique Rone Id
      along with this email.
    </p>
    <p>
      Please keep this ID secure and shall be required for your registration and
      correspondence with the company.
    </p>
    <p>Your Rone ID is :- {{roneid}}</p>
  </body>
</html>
