<html>
  <head>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    />
    <style>
      .card { box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); max-width: 700px;
      padding: 50px; margin: auto; font-family: arial; } .btn { text-decoration:
      none; font-size: 22px; border: none; outline: 0; display: inline-block;
      padding: 8px; color: white; background-color:red; text-align: center;
      cursor: pointer; width: 100%; font-size: 18px; } a:hover, a:hover {
      opacity: 0.7; }
    </style>
  </head>
  <body>
    <div class='card'>
      <P>Dear
        {{name}},<br />
        Thank you for your interest in Rone card services.you are receiving this
        email as an invitation to Join rone card services.
      </P>
      <p>
        Please click on the link below to register.please complete the
        registration process by clicking the link below.</p>
      <p>for any assistance ,please feel free to contact our customer support
        via support@ronedcard.com</p>
      <a href={{link}} style='color: white;' class='btn'>JOIN NOW</a>
    </div>

  </body>
</html>